
@page
@model Exercise.Web.Pages.Buses.IndexModel
@{
}

<h1>Buses Page</h1>

<form asp-page="/Buses/Create" method="get">
    <button type="submit" class="btn-success">New Bus </button>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Company</th>
            <th>Expedition Number</th>
            <th>Mark</th>
            <th>Route</th>
            <th>Seat Count</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bus in Model.BusList)
        {
            <tr>
                <td>@bus.CompanyName</td>
                <td>@bus.ExpeditionNumber</td>
                <td>@bus.Mark</td>
                <td>@bus.Route</td>
                <td>@bus.SeatCount</td>
                <td>
                    <form asp-page="/Buses/Update" asp-route-id="@bus.Id" method="get">
                        <button type="submit" class="btn-danger">Update</button>
                    </form>
                </td>
                <td>
                    <form asp-page="/Buses/Index" asp-page-handler="Delete" asp-route-id="@bus.Id">
                        <button type="submit" onclick="return confirm('Are you sure you want to delete?')" 
                                class="btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>